<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn btn-primary">Add person</button>
    {{form_end(form)}}

    <a class="btn btn-primary" href="{{ path('home')}}">Results</a>
</body>
</html>