{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="card m-2" style="width: 48rem">
            <article>
                <div class="card-body">
                    <h5 class="card-title">Name: {{person.name}}</h5>
                    <p class="card-text">Surname: {{person.surname}}</p>
                    <p class="card-text">Date of birth: {{person.birthdate|date("d/m/Y")}}</p>
                    <p class="card-text">Nationality: {{person.nationality}}</p>
                    <a class="btn btn-danger" href="{{ path('remove_person', {person:person.id})}}">Delete</a>
                    <a class="btn btn-success" href="{{ path('modify_person', {person:person.id})}}">Modify</a>
                    <a class="btn btn-warning" href="{{path('add_car')}}">Add a car</a>

                    {% if person.cars is not empty %}
                    <h2>Cars</h2>
                    <div class="row">
                        {% for car in person.cars %}
                        <div class="col-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{car.model}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{car.sourcePower}}</h6>
                                    <p class="card-text">Horse power: {{car.horsePower}}</p>
                                    <p class="card-text">Car: {{car.color}}</p>
                                    <a class="btn btn-primary" href="{{path('car')}}" class="card-link">Show</a>
                                    <a class="btn btn-danger" href="{{ path('remove_car', {car:car.id})}}">Delete car</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}