{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div>
        <h2>Add person</h2>
        <a class="btn btn-warning" href="{{ path('add')}}">Add</a>
    </div>
    <div class="row">
        {% for row in person %}
        <div class="card m-2" style="width: 18rem">
            <article>
                <div class="card-body">
                    <h5 class="card-title">Name: {{row.name}}</h5>
                    <p class="card-text">Surname: {{row.surname}}</p>
                    <p class="card-text">Date of birth: {{row.birthdate|date("d/m/Y")}}</p>
                    <p class="card-text">Nationality: {{row.nationality}}</p>
                    <div class="row">
                        {% for car in row.cars %}
                            <p class="card-text">Car: {{car.model}}</p>
                        {% endfor %}
                    </div>
                    <a class="btn btn-primary" href="{{ path('find_person', {id:row.id})}}">Show all</a>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}