{% extends 'base.html.twig' %}

{% block title %}Add a Car{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="card m-2" style="width: 48rem">
            <article>
                <div class="card-body">
                    <h5 class="card-title">{{car.model}}</h5>
                    <p class="card-text">Horse power: {{car.horsePower}}</p>
                    <p class="card-text">Source power: {{car.sourcePower}}</p>
                    <p class="card-text">Color: {{car.color}}</p>
                </div>
            </article>
        </div>
    </div>
</div>

{% endblock %}