{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="card m-2" style="width: 48rem">
            <article>
                <div class="card-body">
                    <h5 class="card-title">{{cars.model}}</h5>
                    <p class="card-text">Horse power: {{cars.horsePower}}</p>
                    <p class="card-text">Source power: {{cars.sourcePower)}}</p>
                    <p class="card-text">Color: {{cars.color}}</p>
                    <a class="btn btn-warning" href="{{path('add_car')}}">Add a ride</a>

                    {% if person.cars is not empty %}
                    <h2>Rides</h2>
                    <div class="row">
                        {% for car in cars.rides %}
                        <div class="col-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{car.model}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{car.sourcePower}}</h6>
                                    <p class="card-text">
                                        Horse Power : {{car.horsePower}}
                                    </p>
                                    <p class="card-text">
                                        Car : {{car.color}}
                                    </p>
                                    <a class="btn btn-primary" href="#" class="card-link">Show</a>
                                    <a class="btn btn-danger" href="{{ path('remove_car', {car:car.id})}}">Delete car</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}